@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.user-announcements {
    +e(spinner-container) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    +e(announcement) {
        width: 100%;
        margin-bottom: 15px;
    }

    +e(add-btn) {
        margin-bottom: 15px;
    }
}