@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.location-form-group {
    position: relative;
    padding-bottom: 0;

    +e(autocomplete-container) {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: $white;
        border: 1px solid $medium-gray;
        z-index: 9999;
    }

    +e(autocomplete-item) {
        background-color: $white;
        padding: 11px 8px;
        color: $dark-gray;
        cursor: pointer;

        +m('active') {
            background-color: $gray;
        }
    }
}