@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.text-area {
    max-height: 400px;
    min-height: 200px;
    background-color: $white;
    color: $dark-gray;
    border-color: $gray;
    width: 100%;
    padding: 11px 8px;
    resize: vertical;
}