@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';
@import '~react-input-range/lib/css/index.css';

.input-range {

    +e(track) {
        background: $white;

        &--active {
            background: $blue;
        }
    }

    +e(slider) {
        background: $blue;
        width: 12px;
        height: 12px;
        margin-top: -0.5rem;

        &:active{
            transform: scale(1.1);
        }
    }

    +e(label) {
        color: inherit;
    }
}



