@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.avatar {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid $white;

    +m(small) {
        width: 50px;
        height: 50px;
    }

    +m(medium) {
        width: 64px;
        height: 64px;
    }

    +m(large) {
        width: 100px;
        height: 100px;
    }
}