@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.user-profile {
    height: 100%;

    +e(input-group) {
        margin: 10px 0 20px;
    }

    +e(spinner-container) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}