@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.messages {
    max-width: 600px;
    margin: auto;
    overflow: hidden;

    +e(link) {
        position: absolute;
        top: 40px;
        right: 0;
        cursor: pointer;
    }

    +e(message) {
        margin-bottom: 40px;

        +m(right) {
            text-align: right;
        }

        +m(date) {
            font-size: $font-sizes.small;
        }

        +m(text) {
            font-weight: bold;
        }

        +m(title) {
            text-align: center;
            font-size: $font-sizes.small;
            color: $blue;
        }
    }

    +e(box) {
        padding: 40px 20px 40px;
        margin-bottom: 20px;
        border: 1px solid $light-gray;
    }
}
