@font-face {
    font-family: 'custom icons';
    src: url(icomoon.eot);
    src: url(icomoon.woff) format('woff'),
    url(icomoon.ttf) format('truetype'),
    url(icomoon.svg#glyphicons_halflingsregular) format('svg');
}