@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.register-form {
    width: 100%;
    max-width: 340px;
    margin: auto;
    text-align: center;

    +e(title) {
        margin-top: 0;
    }

    +e(input-group) {
        margin-bottom: 20px;
    }

    +e(text) {
        margin: 20px 0 12px;
    }

    .btn_secondary {
        margin-bottom: 20px;
    }

    .btn_ternary {
        margin-bottom: 30px;
    }

    +e(checkbox-caption){
        width: 266px;
        font-size: $font-sizes.small;
        text-align: left;
        margin: 0;
    }

    +e(confirm-container) {
        .validation-error {
            margin-top: 5px;
            padding-left: 74px;
        }
    }

    +e(confirm){
        display: flex;
        justify-content: space-around;
        &-checkbox{
            margin: auto;
        }
    }

    +e(button-primary){
        width: 100%;
        margin: 30px 0 42px;
    }

    +e(login) {
        display: flex;
        justify-content: space-between;
    }

    +e(login-caption){
        margin: auto;
    }

    +e(google) {
        text-align: center;
        padding: 20px 0 10px;
    }

    +e(facebook) {
        text-align: center;
        padding: 10px 0;
    }
}