@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';
@import '~react-select/dist/react-select.css';

.select-default{
    width: 123px;
    .Select-control{
        height: 46px;
        border-radius: inherit;
    }
    .Select-placeholder{
        top: 5px;
    }
    .Select-control:hover{
        box-shadow: none;
    }
    &.is-focused:not(.is-open) {
        > .Select-control {
            border-color: $gray;
            box-shadow: none;
        }
    }
    &.select-default > .Select-control .Select-value{
        top: 5px;
    }
    .Select-option.is-focused{
        background-color: $light-gray;
    }
    .Select-option.is-selected{
        background-color: $gray;
    }
    .Select-arrow {
        border-color: $gray transparent transparent;
        &:hover {
            border-color: $medium-gray transparent transparent;
        }
    }
}