@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.form-message {
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    +m(error) {
        color: $red;
    }

    +m(success) {
        color: $green;
    }
}