<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{email.message.notification.title(${dto.getTitle()})}"> </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.message.greeting(${dto.getUserTo().getProfileEmailIfBlankFullName()})}">

</p>
<p th:text="#{email.message.notification.body(${dto.getUserFrom().getFullName()})}"></p>
<p th:text="#{email.message.notification.text(${dto.getText()})}">

</p>
<p th:text="#{email.message.notification.downtext}"></p>


<p>
	<span th:text="#{email.activation.text.footer}">With respect, </span>
	<br/>
	<em th:text="#{email.signature}">Our Team</em>
</p>
</body>
</html>








