<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{email.pswreset.title}">Your new password</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getProfileEmailIfBlankFullName()})}">
	Dear user
</p>
<p th:text="#{email.pswreset.text.body}">
	You told us you forgot your password for Feel Free account. Here is your new password, you can change it in your profile.
</p>
<p th:text="#{email.pswreset.password(${password})}">
</p>
<p>
	<span th:text="#{email.activation.text.footer}">With respect, </span>
	<br/>
	<em th:text="#{email.signature}">Our Team</em>
</p>
</body>
</html>