<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{email.reset.title}">Your new profile email</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getProfileEmailIfBlankFullName()})}">
	Dear user
</p>
<p th:text="#{email.reset.text.body}">
	This email address will be assigned to you as the main(profile email), please click on the URL below to activate it:
</p>
<p>
	<a th:href="${activateUrl}" th:text="#{email.activation.text.link}">Activation Link</a>
</p>
<p>
	<span th:text="#{email.activation.text.footer}">With respect, </span>
	<br/>
	<em th:text="#{email.signature}">Our Team</em>
</p>
</body>
</html>