<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Submit Social Email</title>
	<style>
		*, *:before, *:after {
			box-sizing: inherit;
		}
		body{
			color: #333;
			font-family: Open Sans, sans-serif;
			font-size: 16px;
		}
		.form {
			font-family: sans-serif;
			font-size: 100%;
			line-height: 1.15;
		}
		.register-form {
			width: 100%;
			max-width: 340px;
			margin: 200px auto;
			text-align: center;
		}
		.input {
			display: block;
			width: 100%;
			border: 1px solid transparent;
			padding: 11px 8px;
		}
		.input_primary {
			background-color: #fff;
			color: #333;
			border-color: #dce0e0;
		}
		.login-form__button-primary {
			width: 100%;
			margin: 42px 0 42px;
			color: #333;
			background-color: #fff;
			padding: 11px 8px;
			border-color: #767676;
			outline: none;
			cursor: pointer;
			border: 1px solid rgba(0, 0, 0, 0.55);
			position: relative;
		}
		span{
			color: red;
		}
		.wrapper-error{
			position: absolute;
			font-size: 12px;
			padding: 10px 10px;
		}
	</style>
</head>
<body>
	<div>
		<form action="/api/v1/registration/social/sign-up/email" method="post" class="register-form form">
			<h4>Please, enter you email address</h4>
			<div>
				<input type="email" name="email" th:value="*{email}" class="input input_primary form" placeholder="Email"/>
				<div class="wrapper-error">
					<span th:text="*{error}"></span>
				</div>
				<button type="submit" class="login-form__button-primary btn_default btn_medium btn form">Login</button>
			</div>
		</form>
	</div>
</body>
</html>