<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{email.social.password.title}">Your password for Feel Free account</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getProfileEmailIfBlankFullName()})}">
	Dear user
</p>
<p th:text="#{email.social.password.text.body}">
	Your account has been created.
</p>
<p th:text="#{email.social.activate.permissions.text}"></p>
<p th:text="#{email.social.activate.permissions.login(${user.getProfileEmail()})}"></p>
<p th:text="#{email.social.activate.permissions.password(${password})}"> </p>
<p>
	<span th:text="#{email.activation.text.footer}">With respect, </span>
	<br/>
	<em th:text="#{email.signature}">Our Team</em>
</p>
</body>
</html>