<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{email.activation.title}">Your account activation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getProfileEmailIfBlankFullName()})}">
	Dear user
</p>
<p th:text="#{email.social.activate.text}">
	Your account has been created
</p>
<p th:text="#{email.social.activate.permissions.text}"></p>
<p th:text="#{email.social.activate.permissions.login(${user.getProfileEmail()})}"></p>
<p th:text="#{email.social.activate.permissions.password(${password})}"> </p>
<p th:text="#{email.social.activate.permissions.link.text}"></p>
<p>
	<a th:href="${activateUrl}" th:text="#{email.activation.text.link}">Activation Link</a>
</p>
<p>
	<span th:text="#{email.activation.text.footer}">With respect, </span>
	<br/>
	<em th:text="#{email.signature}">Our Team</em>
</p>
</body>
</html>