@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.request-list {
    width: 940px;

    +e('list') {
        list-style-type: none;
        padding: 40px 0;
    }

    +e(request) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        margin-bottom: 15px;
        border: 1px solid $gray;

        +m(rejected) {
            border: 1px solid $red;
        }

        +m(confirmed) {
            border: 1px solid $green;
        }
    }

    +e(spinner-container) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    +e(label) {
        font-weight: bold;
    }

    +e(from) {
        margin-bottom: 5px;
    }

    +e(reject-btn) {
        margin-left: 10px
    }
}