@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.announcement-preview {
    position: relative;
    margin: 10px;

    +e(favourite) {
        padding: 5px 8px;
        background-color: $white;
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 12px;
        text-align: right;

        +m('true') {
            color: $red;

            &:hover {
                color: $light-red;
            }
        }

        +m('false') {
            color: $medium-gray;

            &:hover {
                color: $red;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    +e(price) {
        padding: 5px 10px;
        color: $dark-gray;
        background-color: $white;
        position: absolute;
        top: 2px;
        left: 2px;
        font-size: 12px;
    }

    +e(city) {
        padding: 5px 10px;
        color: $dark-gray;
        background-color: $white;
        position: absolute;
        top: 28px;
        left: 2px;
        font-size: 12px;
    }

    +e(title) {
        margin: 0;
        padding: 5px 10px;
        color: $dark-gray;
        background-color: $white;
        position: absolute;
        bottom: 2px;
        left: 2px;
        font-size: 16px;

        &:hover {
            color: $blue;
        }
    }

}