@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.validation-error {
    margin-top: 3px;
    padding-left: 9px;
    font-size: $font-sizes.small;
    color: $red;
    text-align: left;
}