@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.single {
    margin-top: 80px;
    padding: 20px 0;

    +e(main) {
        display: flex;
        justify-content: space-between;
    }

    +e(book) {
        margin: 20px 0;
        min-width: 20%
        border-left: 1px solid $gray;
        padding-left: 20px!important;

        .booking {
            margin-bottom: 60px;
        }

        +m(box) {
            padding: 0 0 20px;
            margin-top: 40px;
        }

        .user-info {
            text-align: center;
            flex-direction: column;

            .avatar {
                margin: auto
            }

            +e(data) {
                padding-left: 0

                +m(name) {
                    font-size: $font-sizes.default;
                }

                +m(contact) {
                    font-size: $font-sizes.default;
                }
            }
        }
    }

    +e(info) {
        width: 70%;

        &-description {
            line-height: 24px;
        }

        &-block {
            padding: 50px 0 20px;
            border-bottom: 1px solid $gray;

            +m(border) {
                border-bottom: none;
            }

            +m(link) {
                text-align: right;
            }

            +m(main) {
                padding-top: 20px;
            }
        }
    }

    +e(user-info) {
        border: 1px solid $gray;
        padding: 25px 15px 15px;
    }
}



