@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.change-avatar-form {
    width: 550px;

    +e(file-upload) {
        margin-bottom: 20px;
    }

    +e(dropzone-container) {
        width: 100%;
    }

    +e(dropzone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        border: 4px solid $gray;
        text-align: center;
        color: $medium-gray;
        user-select: none;
        cursor: pointer;

        +m('active') {
            border-color: $green;
        }

        +m('rejected') {
            border-color: $red;
        }
    }

    +e(submit-button) {
        float: right;
    }
    
    +e(preview) {
        margin: 20px 0;
        text-align: center;
    }
}