@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.user{
    display: flex;
    margin: 80px 0 0;

    +e(container) {
        display: flex;
    }

    +e(main) {
        position: relative;
        width: 80%;
        padding: 50px 30px;
    }
}