@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.root {
    +e(spinner-container) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}