@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.create-announcement-form {
    width: 100%;

    +e(map) {
        height: 400px;
        margin-top: 20px;
    }

    +e(location) {
        margin: 10px 0 40px;
    }

    +e(input-group) {
        margin: 10px 0 20px;
    }

    +e(input-number-group) {
        display: inline-block;
        margin: 10px 10px 20px 0;
    }

    +e(textarea-group) {
        margin: 10px 0 20px;
    }

    +e(toggle-group) {
        margin: 10px 0 20px;
    }

    +e(multi-select) {
        width: 100%;
        margin: 10px 0 20px;
    }

    +e(file-upload) {
        margin-bottom: 20px;
    }

    +e(dropzone-container) {
        width: 100%;
    }

    +e(dropzone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        border: 4px solid $gray;
        text-align: center;
        color: $medium-gray;
        user-select: none;
        cursor: pointer;

        +m('active') {
            border-color: $green;
        }

        +m('rejected') {
            border-color: $red;
        }
    }

    +e(preview-img) {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    +e(preview-list) {
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    +e(preview-item) {
        position: relative;
        border: 1px solid $gray;
        background-color: $light-gray;
        width: 180px;
        height: 122px;
        margin: 5px;
    }

    +e(delete-item) {
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 2px 4px;
        background-color: $white;
        cursor: pointer;

        &:hover {
            background-color: $light-gray;
        }
    }
}

