@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';



iconButton(color, bg-border-color, bg-border-color-hover, type) {
    background-color: bg-border-color;
    border-color: bg-border-color;
    color: color;

    {type}:after{
        color: color;
        font-size: $font-sizes.large;
    }

    &:hover {
        background-color: bg-border-color-hover;
        border-color: bg-border-color-hover;
    }
}

.btn {
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;

    +m(default) {
        color: $dark-gray;
        background-color: $white;
        border-color: $medium-gray;

        &:hover {
            background-color: $gray;
        }
    }

    +m(accent) {
        color: $white;
        background-color: $blue;
        border-color: $blue;

        &:hover {
            background-color: $deep-blue;
            border-color: $deep-blue;
        }
    }

    +m(primary) {
        width: 340px;
        color: $dark-gray;
        background-color: $white;
        border-color: $medium-gray;

        &:hover {
            background-color: $gray;
        }
    }

    +m(secondary) {
        iconButton($white, $red, $deep-red, '.icon_google');
    }

    +m(ternary) {
        iconButton($white, $blue, $deep-blue, '.icon_fb');
    }

    +e(icon){
        position: absolute;
        left: 12px;
        top: 6px;
    }

    +m(busy) {
        color: transparent;
        position: relative;
    }

    +m('small') {
        padding: 3px 18px;
    }

    +m(medium) {
        padding: 11px 24px;
    }

    +e(disabled) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .spinner {
            width: 3em;
            height: 3em;
            border-top: 4px solid $light-gray;
            border-right: 4px solid $light-gray;
            border-bottom: 4px solid $light-gray;
            border-left: 4px solid $blue;
        }
    }
}


