@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.render-fields {
    +e(field-list) {
        list-style: none;
    }

    +e(field-group) {
        display: flex;
        margin-bottom: 10px;
    }

    +e(input) {
        width: 400px;
    }
}