@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.booking {
    width: 260px;
    border: solid 1px $gray;

    +e(header) {
        background-color: $medium-gray;
        color: $white;
        padding: 15px 15px;

        p {
            margin: 0;
        }

        span {
            font-size: $font-sizes.large;
            font-weight: bold;
        }
    }

    +e(wrapper) {
        padding: 25px 15px 15px;
    }

    +e(button) {
        width: 100%;
        margin: 30px 0 0;

        +m(success) {
            margin: 0;
        }
    }

    +e(form-message) {
        padding-bottom: 15px;
    }

    +e(links) {
        margin-top: 15px;
        line-height: 24px;
    }
}