@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.reviews {
    +e(review) {
        display: flex;
        flex-direction: column;
        padding: 10px 0 40px;

            +m(message) {
                margin-top: 0;
                word-wrap: break-word;
                line-height: 24px;
                width: 663px;
                align-self: flex-end;
            }

            +m(date) {
                text-align: right;
                font-size: $font-sizes.medium;
                margin: 20px 0 0;
            }

        .user-info {
            margin-bottom: 25px;
            max-width: 160px;
            flex-direction: column;

            +e(data) {
                padding-left: 0;
            }

            +e(data_name) {
                text-align: center;
            }

            +e(contacts) {
                display: none;
            }

            .avatar {
                margin: auto;
            }
        }

        +m(box) {
            margin-bottom: 60px;
        }
    }

    +e(title) {
        margin: 0 0 40px;
    }

    +e(button) {
        margin: auto;
        display: block;
    }
}

