@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.help-form {
    width: 550px;
    padding-bottom: 25px;

    +e(button) {
        float: right;
        margin-top: 25px;
    }

    +m(hide) {
        display: none;
    }
}