@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.announcement-detailed{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $light-gray;

    +e(preview) {
        position: relative;
    }

    +e(info) {
        flex-grow: 1;
    }

    +e(favourite) {
        padding: 6px 8px;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        text-align: right;

        +m('true') {
            color: $red;

            &:hover {
                color: $light-red;
            }
        }

        +m('false') {
            color: $medium-gray;

            &:hover {
                color: $red;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    +e(title) {
        margin: 0 0 4px;
        padding: 6px 8px 5px;
        background-color: $medium-gray;
        color: $white;
    }

    +e(price) {
        margin-bottom: 4px;
        padding: 0 8px;
        //background-color: $white;
    }

    +e(location) {
        margin-bottom: 4px;
        padding: 0 8px;
        //background-color: $white;
    }

    +e(description) {
        overflow: hidden;
        height: $font-sizes.medium * 1.15 * 5;
        margin: 12px 0 4px;
        padding: 0 8px;
        font-size: $font-sizes.medium;
    }

    +e(more) {
        margin-bottom: 12px;
        padding: 0 12px;
        text-align: right;
    }

    +e(controls) {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
    }

    +e(edit-btn) {
        margin-right: 8px;
    }

    +e(delete-btn) {
        margin-left: 8px;
    }

    +e(label) {
        font-weight: bold;
    }

    +m(hidden) {
        background-color: $light-gray;
    }
}