@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.login-form {
    max-width: 340px;
    margin: auto;
    text-align: center;

    +e(title) {
        margin-top: 0;
    }

    +e(form-message) {
        margin-bottom: 20px;
    }

    +e(input-group) {
        margin-bottom: 20px;
    }

    +e(input) {
        +m(secondary) {
            margin-bottom: 6px;
        }
    }

    +e(input-caption) {
        display: block;
        text-align: right;
    }

    +e(text) {
        margin: 20px 0 12px;
    }

    .btn_secondary {
        margin-bottom: 20px;
    }

    .btn_ternary {
        margin-bottom: 40px;
    }

    +e(button-primary) {
        width: 100%;
        margin: 40px 0 42px;
    }

    +e(register) {
        display: flex;
        justify-content: space-between;
    }

    +e(register-caption){
        margin: auto;
    }

    +e(google) {
        text-align: center;
        padding: 20px 0 10px;
    }

    +e(facebook) {
        text-align: center;
        padding: 10px 0;
    }
}