@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

chevron-buttons() {
    display: flex;
    padding: 0;
    width: 36px;
    border: none;
    background-color: $white;
    cursor: pointer;
    outline: none
    .icon {
        bottom: 3px;
        color: $gray;
        font-size: 34px;

        &:hover {
            color: $medium-gray;
        }
    }
}

.input-number {
    display: flex;
    position: relative;
    border: solid 1px $gray;
    height: 46px;
    width: 124px;

    +e(down) {
        chevron-buttons()
    }

    +e(up) {
        chevron-buttons()
    }

    +e(content) {
        width: 50px;
        text-align: center;
        padding: 0;
        border: none;
        border-left: solid 2px $gray;
        border-right: solid 2px $gray;
        -moz-appearance: textfield;
        outline: none;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
}
