@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.demo {
    margin-top: 80px;

    +e(section) {
        padding: 30px 0;

        h2 {
            margin: 0 0 30px;
        }

        > div {
            margin: 10px 0;
        }

        >span {
            margin: 0 10px;
        }

        +m(color) {
            background-color: $gray;
        }
    }
}
