@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.input{
    display: block;
    width: 100%;
    border: 1px solid transparent;
    padding: 11px 8px;

    +m(primary){
        background-color: $white;
        color: $dark-gray;
        border-color: $gray;
    }

    +m(secondary){
        max-width: 340px;
        background-color: $white;
        color: $dark-gray;
        border-color: $gray;
    }
}