@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';


.spinner {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid $light-gray;
    border-right: 1.1em solid $light-gray;
    border-bottom: 1.1em solid $light-gray;
    border-left: 1.1em solid $blue;
    transform: translateZ(0);
    animation: load8 0.6s infinite linear;

    &:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
}

@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

