@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';
@import '~react-datepicker/dist/react-datepicker.css';

.date-picker {
    display: flex;
    flex-direction: column;

    +e(date) {
        width: 100%;
        padding: 12px 15px;
        color: $dark-gray;
        border: 1px solid $gray;

        +m(start) {
            margin-bottom: 20px;
        }
    }
}
