@import "config.styl"
@import "mixins.styl"

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $white;
    color: $dark-gray;
    font-family: $open-sans, sans-serif;
    font-size: $font-sizes.default;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $deep-blue;
    }
}

img {
    display: block;
}

button, input, textarea{
    font-family: $open-sans;
    font-size: $font-sizes.default;
    line-height: $line-height;
}