// BEM mixins
e($name, $elem = false, $interpolate = true) {
  if ($elem) {
    if ($interpolate) {
      &.{$elem}__{$name} {
        {block}
      }
    } else {
      .{$elem}__{$name} {
        {block}
      }
    }
  } else {
    &__{$name} {
      {block}
    }
  }
}

m($name, $elem = false, $interpolate = true) {
  if ($elem) {
    if ($interpolate) {
      &.{$elem}_{$name} {
        {block}
      }
    } else {
      .{$elem}_{$name} {
        {block}
      }
    }
  } else {
    &_{$name} {
      {block}
    }
  }
}
