@import "~kit/stylus/config.styl";
@import "~kit/stylus/mixins.styl";

.user-sidebar {
    width: 20%;
    margin: 50px 0;
    padding: 50px 0;
    border-right: 1px solid $gray;
    text-align: center;

    +e(avatar-container) {
        display: inline-block;
        cursor: pointer;

        &:hover {
            .avatar {
                border-color: $blue;
            }
        }
    }

    +e(nav) {
        flex-direction: column;
        margin: 30px 0;

        .nav__item {
            margin: 0;
        }

        .link {
            display: block;
            padding: 10px 0;
            color: $dark-gray;
            text-transform: uppercase;

            &:hover {
                background-color: $gray;
            }
        }

        .active {
            color: $white;
            background-color: $medium-gray;

            &:hover {
                background-color: $medium-gray;
            }
        }
    }
}