@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.search {
    padding-top: 100px;

    +e(latest-announcements) {
        padding-top: 80px;
    }

    +e(search-massage) {
        padding-top: 0!important;
    }

    +e(button) {
        display: block;
        margin: 40px auto 0;
    }

    +e(spinner) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
