@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.search-map {
    position: relative;
    padding-bottom: 0;
    margin: 20px 0;

    +e(map) {
        height: 400px;
    }

    +e('marker') {
        width 30px
        height 30px
        border-radius 50% 50% 50% 0
        background $blue
        position absolute
        transform rotate(-45deg)
        left 5px
        top -11px
        margin -20px 0 0 -20px
        cursor: pointer

        &:after {
            content ''
            width 14px
            height 14px
            margin 8px 0 0 8px
            background $white
            position absolute
            border-radius 50%
        }

        &:hover {
            background $green
        }
    }
}